body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logonav{
  width: 8vw;
}

.app{
  min-height: 100vh !important;
  width: 100%;
  display: flex;
  background-image: url("https://images6.alphacoders.com/454/thumb-1920-454816.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  text-align: center;
  
}
.logoTitulo{
  width: 8vw;
}

.Fondo{
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Titulo{
  color: white;
  margin: 0;
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow:  0.1em 0.1em 0.1em blue;
  margin-top: 3rem;
}

.ContenedorNav{
  display: flex !important;
  justify-content: space-around !important; 
}

/* carrousel */
.contenedorcarrousel{
  display: flex;
  width: 90%;
  height: 100%;
}
.imagenCarrousel{
  width: 40vw;
  height: 45vh;
  border-radius: 5%;
}
.jKiLTh{
  width: 100%;
  margin-top: 4rem;
}
.css-2sd7ye-MuiPaper-root-MuiAppBar-root{
  position: fixed;
}
.CarruselContenedor{
  display: flex;
  align-items: center;
  width: 50%;
}
.h2Carrousel{
  color: white;
  text-shadow:  0.1em 0.1em 0.1em blue;
  font-family:cursive;
  font-size: 2.5rem;
  padding: 0rem;
  margin: 3rem 0rem 2rem 0rem
}
.h3Carrousel{
  color: white;
  text-shadow:  0.1em 0.1em 0.1em rgb(0, 0, 0);
  font-family:cursive;
  font-size: 2.3rem;
  padding: 0rem;
  margin: 0rem;
 
 
}

/* BOTON

/* From uiverse.io */
.Botoncito{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  text-align: center;
  margin-top: 0.5rem;
 }
 
 .Botoncito:active,
 .Botoncito:hover {
  outline: 0;
  text-decoration: none;
 }
 
 .Botoncito span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  text-decoration: none;
 }
 
 .Botoncito:hover span {
  background: none;
  text-decoration: none;
 }
 
 .Botoncito:active {
  transform: scale(0.9);
 }
 .boton-ctn{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
 }
 .parrafo{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
 }
 .textparrafo{
   font-size: x-large;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
 }
 .footer-ctn{
   background-color: #00DDEB;
   height: 15vh;
   width: 100%;
 }
 .h1error{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 2px 2px 2px blue;
   font-size: 2.4rem;
 }
 .h1cities{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px blue;
  font-size: 2.4rem;
}
 .css-i4bv87-MuiSvgIcon-root{
   color: white;
   font-size: 1rem;
 }
 .MuiButton-root {
   font-size: xx-large;
 }
button{
  text-decoration: none;
}
span{
  text-decoration: none;
}

.contenedorFooter{
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logofooter{
  width: 3rem;
  margin: 5px
;
}
.footericonos{
  display: flex;
  flex-direction: row;
  width: 33%;

}
footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.botonesFooterToTop{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
 
}
.boton-footer{
align-items: center;
  background-image: linear-gradient(144deg,#40338a, #5B42F3 50%,#00a5eb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #dfc4c4;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 22px;
  justify-content: center;
  line-height: 1em;
  min-width: 20px;
  padding: 7px;
  margin: 4px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
}
.boton-footer:active,
 .boton-footer:hover {
  outline: 0;
  text-decoration: none;
  color: black;
 }
 
 .Botoncito span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  text-decoration: none;
 }
 
 .boton-footer:hover span {
  background: none;
  text-decoration: none;
 }
 
 .boton-footer:active {
  transform: scale(0.9);
 }
.footertexto{
  font-size: 1;
  color: white;
  width: 33%;
  text-shadow:  0.1em 0.1em 0.1em rgb(12, 12, 12);
}

/* CITIES DETAILS */
/* CITIES DETAILS */
/* CITIES DETAILS */

.ContenedorExplorer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
}
.CtnDetalles{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
}
.BotoncitoDetails{
  margin-left: 25px;
}
.h1explorer{
    display: flex;
    padding-left: 25px;
}
.h1details{
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow:  0.1em 0.1em 0.1em rgb(12, 12, 12);
  margin-top: 3rem;
}
.searchExplorer{
  width: 20vw;
  height: 3vh;
}
.parrafoDetails{
  background-color: #40338a;
  z-index: 1;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-shadow:  0.1em 0.1em 0.1em rgb(12, 12, 12);
}
.contenedorDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   

}
@media (max-width: 550px) {
  .contenedorFooter {
    display: flex;
    flex-direction: column-reverse;
    
  }
  .logofooter{
    width: 2.5rem;
  }
  .footertexto{
    font-size: 0.7rem;
  }
  .imagenCarrousel{
    height: 11rem;
    width: 80%;
  }
  .h3Carrousel{
    font-size: 1.3rem ;
  }
  .h1explorer{
    font-size: 2.5rem;
  }
  .logonav{
    width: 6rem;
  }
  .searchExplorer{
    width: 40%;
  }

}
/* CITIES DETAILS */ 

.imagenUsuario{
  width: 8rem;
  border-radius: 50%;
}
.contenedorItinerario{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-wrap: wrap;
}
.Itinerario{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #6d5ada;
  padding: .5rem;
  flex-wrap: wrap;
  border: solid red 2px;
  width: 80vw;
  justify-content: space-evenly;
   
}
.textItinerary{
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}
.textItineraryHashtags{
  font-size: 1rem;
  padding: 0;
  color: #00DDEB;
}
.textItineraryTitle{
  display: flex;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ImageUserItinerary {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
  height: 25vh;
}
.datosItineraryDer {
  display: flex;
  flex-direction: row;
  font-size: 1.250rem;
  flex-wrap: wrap;
}
.priceItinerary {
  display: flex;
  flex-direction: row;
  font-size: 1.250rem;
  color: white;
  align-items: center;
}
.priceItinerary > span {
  display: flex;
  flex-direction: row;
  font-size: 1.250rem;
}
.billetito{
 display: flex;
 flex-direction: row;
 font-size: 1.500rem;
 
}
@media (max-width: 900px) {
  .contenedorItinerario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 2px;
    
  }
}
.Botoncito :hover{
  color: black;
  transform: scale(3em);
}

/* asdadadsad*/

.signup-ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  background-color: #39ebd3ad;
}
.loguitoNav{
  border-radius: 25%;
}
.input-form{
  margin: .5rem;
  width: 85%;
  height: 20px;
}
.form-signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
}
div > .input-form{
    width: 15rem;
    height: 1.4rem;
}
.input-form> .input-form{
  width: 75%;
  height: 1.4rem;
}
@media (max-width: 800px) {
  .input-form {
    width: 140%;
    
  }
}